.modal_area{
    width: 100vw;
    height: 100vh;
   background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9));
    position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_container{
    width: 432px;
    background-color: white;
    box-shadow: var(--shadow1);
    border-radius: 5px;
    .modal_header{
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #606770;

        h2{
            font-weight: 600;
            font-size: 28px;
        }
        p{
            font-size: 15px;
            color: #606770;
        }
        button{
            font-size: 20px;
            font-weight: 600;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }
    .modal_body{
        padding: 15px;
    }
}
}
