:root{
    --primary:#1877f2;
    --sacendary:#00a400;
    --bg:#f0f2f5;
    --shadow1:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    --border: 1px solid #dddfe2

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;

}
li{
list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
a:focus{
    outline: none;
}